body{
    align-content: center;
    align-items: center;
}

main{
    width: 80vw;
}

h1.title{
    margin: 1.5rem;
}

/*Dashboard.html*/
.container > div{
    background: #03213d;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 7px;
    
}
.container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 0rem;
}

.email-tile{
    border: solid 3px #074f91;
    border-radius: 10px;
    margin: .5rem;
    padding: .7rem;
    height: 5.5rem;
    transition: all .2s ease-in-out; 
}
.email-tile:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.email-sub-tile{
     display: flex;
     justify-content: space-between;
}
.email-details{
    width: 90%;
    vertical-align: text-middle;
}
.email-details-2{
    display: flex;
}

.email-details>p,h3,h4{
    margin:0;
    padding: 0;
    text-align: left;
}

.message-summary{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.email-date{
    font-size: .7rem;
}