html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #03213d;
}

main{
     background: #074f91;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1.5rem;
     margin: 2.5rem;
     border-radius: 10px;
}
button{
    margin: .5rem;
    background: #0b7de6;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    color: white;
    padding: .5rem 1rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
button:hover{
    transform: scale(1.03); 
}


h1.title{
    font-size: 3rem;
    margin-bottom: .5rem;
}

.red-font{
    color: red;
}

a{
    color:aquamarine
}

.sidebar{
    width: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-btn{
    width: 80%;
}

.email-display{
    width: 69%;
}

#from-user-icon > span{
    vertical-align: -webkit-baseline-middle;
}
#from-user-icon{
    border-radius: 50px;
    background: #598fbf;
    width: 50px;
    height: 50px;
    color: #03213d;
    font-size: 30px;
    font-weight: bolder;
    margin-right:.7rem;
    text-align: center;
}
.header{
    background: #03213d;
    padding:.1rem .7rem;
    margin: .7rem .7rem .1rem;
    border-radius: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
    box-sizing: border-box;
}

.header > button{
    font-size: .6rem;
    padding: .25rem;
    width: 6rem;
}

.title-bar{
    background: #03213d;
    padding:.7rem;
    margin: .5rem .7rem 0;
    border-radius: 10px;
    width: 90%;
    box-sizing: border-box;
}

.bolder{
    font-weight: bolder;
}
.disabled{
    display: none;
}