body{
    align-content: center;
    align-items: center;
}

main{
    width: 80vw;
}

h1.title{
    margin: 1.5rem;
}

/*updateuser.html*/

.container{
    width: 90%;
    margin-top: 0rem;
    background: #03213d;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 7px;
    box-sizing: border-box;
}

.user-property{
    display: flex;
    justify-content: space-between;
}
.user-property > input,select{
    width: 12rem;
    box-sizing: border-box;
}
fieldset > button{
    font-size:1rem;
    width: 100%;
    margin: 1rem auto .3rem;
}
fieldset{
    margin-bottom: 1rem;
}
