body{
    align-content: center;
    align-items: center;
}

main{
    width: 80vw;
}

h1.title{
    margin: 1.5rem;
}

/*Dashboard.html*/
.container > div{
    background: #03213d;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 7px;
    
}
.container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 0rem;
}
.sidebar{
    width: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-btn{
    width: 80%;
}

/*WRITE EMAIL*/
.email-canvas{
    border-radius: 7px;
    margin: .5rem;
    padding: 1rem 1rem .7rem;
    border: solid 3px #074f91;
    border-radius: 10px;
}
#message-input{
     background: white;
     border-radius: 7px;
     padding: 0 1rem .2rem;
     color: black;
     min-height: 15rem;
     width: 100%;
     box-sizing: border-box;
}
.email-input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: .3rem;
    font-size: 1.5rem
}

.email-input{
    width:80%;
    border-radius: 7px;
    border: none;
}

.email-header{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: solid 1px lightgray;
}
.email-subheader{
    display: flex;
    justify-content: space-between;
    
}
.from-user-tile{
    display: flex;
}
#from-email{
    margin-top: 7px;
}
#message{
    text-align: justify;
}
.email-action-container > button{
    font-size: .6rem;
    padding: .25rem;
    width: 6rem;
}
#date-sent,#to-email{
    font-size: .7rem;
}

#error-message{
    display: none;
}
#message-input{
    text-align: justify;
    padding: .5rem
}
input{
    padding: .2rem .5rem
}