<!doctype html>
<html>
    <head>
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="../static/dashboard.css">
    </head>
    <body>
        <center><main>
            <div class="header">
                <p id="current-user" class="current-user">Welcome: User</p>
                <button id="logout-btn">Log out</button>
                <button id="settings-btn">Settings</button>
            </div>
            <div class="title-bar">
                <h1 class="title">Dashboard</h1>
            </div>
            <div class="container">
                <div id="sidebar" class="sidebar">
                    <button id='inbox-btn' class='sidebar-btn'>Inbox</button>
                    <button id='drafts-btn' class='sidebar-btn'>Drafts</button>
                    <button id='sent-btn' class='sidebar-btn'>Sent</button>
                    <button id='new-mail-btn' class='sidebar-btn'>New Mail</button>
                </div>
                <div id="email-display" class="email-display">
                    <div class="email-tile">
                        <div class="email-sub-tile">
                            <div id="from-user-icon" class="from-user-icon"><span>DV</span>
                            </div>
                            <div class="email-details">
                                <h3 .class='from-name'>Duane Vaughn</h3>
                                <h4 .class='subject'>Subject</h4>
                                <p class="email-date">20/02/2023</p>
                            </div>
                        </div>
                            <p class='message-summary'>Message Summary: This is the message summary! Do you like the message summary? good!</p>
                    </div>
                </div>
            </div>
        </main></center>
        <script src="../static/dashboard.js"></script>
    </body>
</html>