<!doctype html>
<html>
    <head>
        <title id="page-title">Inbox</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/index.css">
        <link rel="stylesheet" href="../../static/reademail.css">
        <link rel="stylesheet" href="../../static/slidebar.css">
    </head>
    <body>
        <div class="slide-sidebar" id="slide-sidebar">
            <div class="slide-sidebar-header">
                <h2>Options</h2>
                <img id="close-settings-btn" class="three-bar-btn" src="../images/three-bars-icon.jpg" width="30rem">
            </div>
            <button id="update-details-btn">Update Details</button>
            <button id="logout-btn">Log out</button>
        </div>
        <center><main>
            <div class="header">
                <p id="current-user" class="current-user">Welcome: User</p>
                <img id="settings-btn" class="three-bar-btn" src="../images/three-bars-icon.jpg" width="30rem">
            </div>
            <div class="title-bar">
                <h1 id="h1-page-title" class="title">Inbox</h1>
            </div>
            <div class="container">
                <div id="sidebar" class="sidebar">
                    <button id='inbox-btn' class='sidebar-btn'>Inbox</button>
                    <button id='drafts-btn' class='sidebar-btn'>Drafts</button>
                    <button id='sent-btn' class='sidebar-btn'>Sent</button>
                    <button id='new-mail-btn' class='sidebar-btn'>New Mail</button>
                </div>
                <div class="email-display">
                    <div class="email-action-container">
                        <button id='edit-btn' class='email-btn'>Edit</button>
                        <button id='delete-btn' class='email-btn'>Delete</button>
                    </div>
                    <div id="email-preview" class="email-preview">  
                    </div>
                </div>
            </div>
        </main></center>
        <script src="../../static/reademail.js"></script>
    </body>
</html>