<!doctype html>
<html>
    <head>
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="../static/dashboard.css">
    </head>
    <body>
        <center><main>
            <div class="title-bar">
                <h1 class="title">Unauthorised</h1>
            </div>
            <div class="container">
                <div class="email-display" style="width:100%">
                    <p>You need to log in to view this content</p>
                    <p><a href="http://127.0.0.1:5000/web-app/login">Return to login</a></p>
                </div>
            </div>
        </main></center>
    </body>
</html>